{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TextA</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Texta</th>
                <td>{{ entity.texta }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('f_texta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('f_texta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
